<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CSTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SkydevCSTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <userSettings>
    <CSTool.Properties.Settings>
      <setting name="email" serializeAs="String">
        <value />
      </setting>
      <setting name="workshift" serializeAs="String">
        <value />
      </setting>
      <setting name="server_ip" serializeAs="String">
        <value />
      </setting>
      <setting name="compliance_default_view" serializeAs="String">
        <value />
      </setting>
      <setting name="preference" serializeAs="String">
        <value />
      </setting>
      <setting name="user_type" serializeAs="String">
        <value />
      </setting>
      <setting name="irr_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="role" serializeAs="String">
        <value />
      </setting>
      <setting name="tier_level" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cam_source" serializeAs="String">
        <value />
      </setting>
    </CSTool.Properties.Settings>
    <SkydevCSTool.Properties.Settings>
      <setting name="email" serializeAs="String">
        <value />
      </setting>
      <setting name="workshift" serializeAs="String">
        <value />
      </setting>
      <setting name="server_ip" serializeAs="String">
        <value />
      </setting>
      <setting name="compliance_default_view" serializeAs="String">
        <value />
      </setting>
      <setting name="preference" serializeAs="String">
        <value />
      </setting>
      <setting name="user_type" serializeAs="String">
        <value />
      </setting>
      <setting name="irr_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="role" serializeAs="String">
        <value />
      </setting>
    </SkydevCSTool.Properties.Settings>
  </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
				<codeBase version="12.0.0.0" href="file://C:/Windows/SysWOW64/stfm/Newtonsoft.json.dll" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CefSharp" publicKeyToken="40C4B6FC221F4138" culture="neutral" />
				<codeBase version="119.4.30.0" href="file://C:/Windows/SysWOW64/stfm/CefSharp.dll" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CefSharp.Core" publicKeyToken="40C4B6FC221F4138" culture="neutral" />
				<codeBase version="119.4.30.0" href="file://C:/Windows/SysWOW64/stfm/CefSharp.Core.dll" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CefSharp.WinForms" publicKeyToken="40C4B6FC221F4138" culture="neutral" />
				<codeBase version="119.4.30.0" href="file://C:/Windows/SysWOW64/stfm/CefSharp.WinForms.dll" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CefSharp.BrowserSubprocess.Core" publicKeyToken="40C4B6FC221F4138" culture="neutral" />
				<codeBase version="119.4.30.0" href="file://C:/Windows/SysWOW64/stfm/CefSharp.BrowserSubprocess.Core.dll" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="B77A5C561934E089" culture="neutral" />
				<codeBase version="6.0.0.0" href="file://C:/Windows/SysWOW64/stfm/EntityFramework.dll" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework.SqlServer" publicKeyToken="B77A5C561934E089" culture="neutral" />
				<codeBase version="6.0.0.0" href="file://C:/Windows/SysWOW64/stfm/EntityFramework.SqlServer.dll" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Gma.System.MouseKeyHook" culture="neutral" />
				<codeBase version="5.6.130.0" href="file://C:/Windows/SysWOW64/stfm/Gma.System.MouseKeyHook.dll" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SQLite" publicKeyToken="DB937BC2D44FF139" culture="neutral" />
				<codeBase version="1.0.111.0" href="file://C:/Windows/SysWOW64/stfm/System.Data.SQLite.dll" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SQLite.EF6" publicKeyToken="DB937BC2D44FF139" culture="neutral" />
				<codeBase version="1.0.111.0" href="file://C:/Windows/SysWOW64/stfm/System.Data.SQLite.EF6.dll" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SQLite.Linq" publicKeyToken="DB937BC2D44FF139" culture="neutral" />
				<codeBase version="1.0.111.0" href="file://C:/Windows/SysWOW64/stfm/System.Data.SQLite.Linq.dll" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Compression.FileSystem" publicKeyToken="B77A5C561934E089" culture="neutral" />
				<codeBase version="4.0.0.0" href="file://C:/Windows/SysWOW64/stfm/System.IO.Compression.FileSystem.dll" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<codeBase version="4.2.0.0" href="file://C:/Windows/SysWOW64/stfm/System.Net.Http.dll" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="UserInactivityMonitoring" culture="neutral" />
				<codeBase version="0.0.0.0" href="file://C:/Windows/SysWOW64/stfm/UserInactivityMonitoring.dll" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AForge" publicKeyToken="C1DB6FF4EAA06AEB" culture="neutral" />
				<codeBase version="2.2.5.0" href="file://C:/Windows/SysWOW64/stfm/AForge.dll" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AForge.Video" publicKeyToken="CBFB6E07D173C401" culture="neutral" />
				<codeBase version="2.2.5.0" href="file://C:/Windows/SysWOW64/stfm/AForge.Video.dll" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AForge.Video.DirectShow" publicKeyToken="61EA4348D43881B7" culture="neutral" />
				<codeBase version="2.2.5.0" href="file://C:/Windows/SysWOW64/stfm/AForge.Video.DirectShow.dll" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
